<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="item item-text-wrap">
            <h2>Our Address
            </h2>
              <p>121, Clear Water Bay Road</p>
              <p>Clear Water Bay, Kowloon</p>
              <p>HONG KONG</p>
              <p><li class="ion-android-call" data-pack="ios" data-tags="oldschool, call" style="display: inline-block;"></li> : +852 1234 5678</p>
              <p><li class="ion-printer" data-pack="ios" data-tags="oldschool, call" style="display: inline-block;"></li> : +852 8765 4321</p>
              <p><li class="ion-ios-email" data-pack="ios" data-tags="oldschool, call" style="display: inline-block;"></li> : confusion@food.net</p>
              
        </div>
        <div class="button-bar">
          <button class="button button-positive">
           <li class="ion-android-call" data-pack="ios" data-tags="oldschool, call" style="display: inline-block;"></li> Call
          </button>
          <button class="button button-calm">
             <li class="ion-social-skype" data-pack="ios" data-tags="oldschool, call" style="display: inline-block;"></li> Skype
          </button>
          <button class="button button-balanced">
            <li class="ion-ios-email" data-pack="ios" data-tags="oldschool, call" style="display: inline-block;"></li> Email
          </button>
        </div>
    </div>
  </ion-content>
</ion-view>

